.gitignore
*.old
run/

#
# ccast git ignore file
#

emis/Data
emis/DanZ_data

# data & misc
*.h5
*.hdf
*.mat
!sarta_chans_for_l1c.mat
!f_default_l1c.mat
!CrIS_ancillary.mat
*.log
*.core
*.rtp

# tex & docs
*.aux
*.toc
*.snm
*.nav
*.out
*.pdf
*.png

# archives and packages
*.gz
*.tgz
*.tar
*.zip
*.bz2

# libs and object files
*.a
*.o
*.so
*.mexa64

# backup files
*.svn
*.bak
*~
*.sav
\#*

# Don't ignore a few .mat files
!test.mat

$ sphinx stuff
docs/_build/*

/docs/_build/doctrees/environment.pickle
/docs/_build/doctrees/index.doctree
/docs/_build/doctrees/rtp-prod.doctree
/docs/_build/doctrees/rtp_prod.doctree
/docs/_build/html/README.html
/docs/_build/html/_sources/index.txt
/docs/_build/html/_sources/rtp-prod.txt
/docs/_build/html/_sources/rtp_prod.txt
/docs/_build/html/genindex.html
/docs/_build/html/index.html
/docs/_build/html/junk.html
/docs/_build/html/rtp-prod.html
/docs/_build/html/rtp_prod.html
/docs/_build/html/search.html
/docs/_build/html/searchindex.js
