#
# ccast git ignore file
#

emis/Data
emis/DanZ_data

# data & misc
*.h5
*.hdf
*.mat
*.log
*.core
*.rtp

# tex & docs
*.aux
*.toc
*.snm
*.nav
*.out
*.pdf
*.png

# archives and packages
*.gz
*.tgz
*.tar
*.zip
*.bz2

# libs and object files
*.a
*.o
*.so
*.mexa64

# backup files
*.svn
*.bak
*~

# Don't ignore a few .mat files
!test.mat
